* {
  box-sizing: border-box;}


.container{
  width:650px;
  margin: 0 auto;
}
.check{
  width:640px;
  height: 40px;
  background-color: black;
  color: rgb(255, 255, 255);
  line-height: 40px;
  padding-left: 10px;
}

.box{
  width:640px;
  border:1px dotted gray;
  text-align: center;
  

  h1{
    color: red;
  }
  span{
    color: blue;
  }
  p{
    font-weight: bold;
  }

  .last-text{
    font-size: 0.7em;
  }
}